<hibernate-configuration>
	<session-factory>
		<!-- JDBC Database connection settings -->
		 <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/test</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		<!-- Select our SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<!-- Echo the SQL to stdout -->
		<property name="show_sql">true</property>
		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.allow_update_outside_transaction">true</property>

		<property name="cache.provider_class">org.hibernate.cache.internal.EhCacheProvider
		</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory
		</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>

		<mapping class="com.nik.entity.Person" />


	</session-factory>
</hibernate-configuration>