<hibernate-configuration>
	<session-factory>
		<!-- JDBC Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/test</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		<!-- Select our SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<!-- Echo the SQL to stdout -->
		<property name="show_sql">true</property>
		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>
		<mapping class="com.nik.entity.Person" />
		<mapping class="com.nik.entity.Student" />
		<!--<mapping class="com.nik.composite.Person" />
		<mapping class="com.nik.component.Person" />
		<mapping class="com.nik.inheritance.Human" />
		<mapping class="com.nik.inheritance.Person" />
		<mapping class="com.nik.inheritance.Employee" />
		<mapping class="com.nik.inheritance.PermanantEmployee" /> -->

	</session-factory>
</hibernate-configuration>